! templates/users.j2
#jinja2: trim_blocks: False

{# item.name is required, no need to check for existence #}
{% set username = "username %s" % item.name %}
{% set sshkey = "" %}

{% if item.state is defined and item.state == 'absent' %}
    {# user state is absent - remove user #}
    {% set username = "no " + username %}
{% else %}
    {# assemble the full username command #}
    {% set username = username + " privilege %s" % item.privilege
        if item.privilege is defined
        else username %}

    {% set username = username + " role %s" % item.role
        if item.role is defined
        else username%}

    {% if item.nopassword is defined and item.nopassword %}
        {% set username = username + " nopassword" %}
    {% elif item.secret is defined %}
        {% if item.encryption is defined and item.encryption == 'md5' %}
            {# md5 encrypted secret #}
            {% set username = username + " secret 5 %s" % item.secret %}
        {% elif item.encryption is defined and item.encryption == 'sha512' %}
            {# sha512 encrypted secret #}
            {% set username = username + " secret sha5 %s" % item.secret %}
        {% else %}
            {# unencrypted secret #}
            {% set username = username + " secret %s" % item.secret %}
        {% endif %}
    {% endif %}

    {% set sshkey = "username sshkey %s" % item.sshkey
        if item.sshkey is defined
        else "" %}
{% endif %}

{# Run the assembled username command #}
{{ username }}
{{ sshkey }}
